<!-- footer section -->
<footer>
    <strong>Menedżer Firm i Pracowników MFiP</strong>
    <br/>
    <span class="glyphicon glyphicon-copyright-mark"></span>
    Mazepa Mariusz, Pilkou Matsvei 2018
</footer>
