<!DOCTYPE html>
    <html>
        <head>
            <title>MFIP</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/css/style.css" />
            <script src="/jquery/dist/jquery.min.js"></script>
            <script src="/js/skrypt.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
            <link rel="shortcut icon" href="images/favicon.ico">
        </head>
        <body>
          <header>

              <%
                  if (user !== null) {
              %>
              <span id="loginPanel">
                  <form id="loginform" action="/logout" method="get">
                      <div class="myCol">
                          <nav style="float:left;margin-right:50px;line-height:35px;">
                              Jesteś zalogowany jako
                              <strong>
                                  <%= user.first_name %> <%= user.last_name %>
                              </strong>
                          </nav>
                          <button id="logoutButton"
                                  class="btn btn-danger"
                                  type="submit">
                              <span class="glyphicon glyphicon-log-out"></span>
                              Wyloguj
                          </button>
                      </div>
                  </form>
              </span>
              <%
                  } else {
              %>
                  <span id="loginPanel">
                      <form id="loginform" action="/login" method="post">
                        <div class="myCol">
                          <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-addon transparent">
                                      <span class="glyphicon glyphicon-asterisk"></span>
                                  </span>
                                  <select id="loginType"
                                          class="form-control left-border-none"
                                          name="type"
                                          required />
                                      <option disabled>Wybierz typ konta:</option>
                                      <!-- <option value="admin">Administrator</option> -->
                                      <option value="firm">Konto firmowe</option>
                                      <option value="worker" selected>Konto pracownicze</option>
                                  </select>
                              </div>
                          </div>
                        </div>
                        <div class="myCol">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon transparent">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input  id="login"
                                            class="form-control left-border-none"
                                            type="email"
                                            name="email"
                                            placeholder="E-mail"
                                            required />
                                </div>
                            </div>
                        </div>
                        <div class="myCol">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon transparent">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input  id="password"
                                            class="form-control left-border-none"
                                            type="password"
                                            name="password"
                                            placeholder="Hasło"
                                            required />
                                </div>
                            </div>
                        </div>
                        <div class="buttonGroup">
                            <div class="myCol">
                                <button id="loginButton"
                                        class="btn btn-success"
                                        type="submit">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    Zaloguj
                                </button>
                            </div>
                            <div class="myCol">
                                <a href="/signup" id="signupButton" class="btn btn-default">
                                    <span class="glyphicon glyphicon-hand-right"></span>
                                    Dołącz
                                </a>
                            </div>
                        </div>
                      </form>
                  </span>
              <%
                  }
              %>
          </header>
