<div id="menu" class="col-sm-3">
    <!-- PODSTAWOWE MENU -->
    <h5 style="font-weight:bold;">MENU:</h5>
    <div id="homepage" class="menuElement">
        <span class="glyphicon glyphicon-home"></span>
        Strona główna
    </div>
    <%
        if (user !== null) {
            if (user.type === "worker") {
    %>
        <div id="worker" class="menuElement">
            <span class="glyphicon glyphicon-user"></span>
            Mój Profil
        </div>
        <div id="cv" class="menuElement">
            <span class="glyphicon glyphicon-list-alt"></span>
            Moje CV
        </div>
        <div id="findJob" class="menuElement">
            <span class="glyphicon glyphicon-briefcase"></span>
            Szukaj Pracy
        </div>
    <%
            } else {
    %>
        <div id="firm" class="menuElement">
            <span class="glyphicon glyphicon-briefcase"></span>
            Moja Firma
        </div>
    <%
            }
    %>
        <div id="logout" class="menuElement">
            <span class="glyphicon glyphicon-log-out"></span>
            Wylogowanie
        </div>
    <%
        } else {
    %>
        <div id="signup" class="menuElement">
            <span class="glyphicon glyphicon-hand-right"></span>
            Rejestracja
        </div>
    <%
        }
    %>

    <hr/>

    <!-- MENU CRUD'A -->
    <h5 id="crudHeader" style="font-weight:bold;">
        CRUD
        <span id="crudGlyph" class="glyphicon glyphicon-chevron-down"></span>
    </h5>
    <div id="crudList" class="hideMe">
        <div class="info">
            CRUD widoczny w celach testowych.
        </div>
        <div id="employee" class="menuElement">
            <span class="glyphicon glyphicon-user"></span>
            Lista Pracowników
        </div>
        <div id="company" class="menuElement">
            <span class="glyphicon glyphicon-briefcase"></span>
            Lista Firm
        </div>
        <div id="adres" class="menuElement">
            <span class="glyphicon glyphicon-list"></span>
            Lista Adresów
        </div>
        <div id="skills" class="menuElement">
            <span class="glyphicon glyphicon-blackboard"></span>
            Lista Umiejętności
        </div>
        <div id="workstations" class="menuElement">
            <span class="glyphicon glyphicon-list-alt"></span>
            Lista Stanowisk
        </div>
        <div id="workHistory" class="menuElement">
            <span class="glyphicon glyphicon-calendar"></span>
            Lista Historii Zatrudnienia
        </div>
    </div>

    <!-- ZEGAREK -->
    <div id="clock">00:00:00</div>
</div>
