<div id="menu" class="col-sm-3">
    <!-- PODSTAWOWE MENU -->
    <h5 style="font-weight:bold;">MENU:</h5>
    <div id="homepage" class="menuElement">
        <span class="glyphicon glyphicon-home"></span>
        Strona główna
    </div>
    <div id="firm" class="menuElement">
        <span class="glyphicon glyphicon-briefcase"></span>
        Moja Firma
    </div>
    <div id="worker" class="menuElement">
        <span class="glyphicon glyphicon-user"></span>
        Mój Profil
    </div>
    <div id="cv" class="menuElement">
        <span class="glyphicon glyphicon-list-alt"></span>
        Moje CV
    </div>
    <div id="signup" class="menuElement">
        <span class="glyphicon glyphicon-hand-right"></span>
        Rejestracja
    </div>

    <hr/>

    <!-- MENU CRUD'A -->
    <h5 style="font-weight:bold;">CRUD:</h5>
    <div id="employee" class="menuElement">
        <span class="glyphicon glyphicon-user"></span>
        Lista Pracowników
    </div>
    <div id="company" class="menuElement">
        <span class="glyphicon glyphicon-briefcase"></span>
        Lista Firm
    </div>
    <div id="adres" class="menuElement">
        <span class="glyphicon glyphicon-list"></span>
        Lista Adresów
    </div>
    <div id="skills" class="menuElement">
        <span class="glyphicon glyphicon-blackboard"></span>
        Lista Umiejętności
    </div>
    <div id="workstations" class="menuElement">
        <span class="glyphicon glyphicon-list-alt"></span>
        Lista Stanowisk
    </div>
    <div id="workHistory" class="menuElement">
        <span class="glyphicon glyphicon-calendar"></span>
        Lista Historii Zatrudnienia
    </div>
    <!-- ZEGAREK -->
    <div id="clock">00:00:00</div>

    
</div>
