<div id="menu" class="col-sm-3">
    <div id="homepage" class="menuElement">
        <span class="glyphicon glyphicon-home"></span>
        Strona główna
    </div>
    <div id="firm" class="menuElement">
        <span class="glyphicon glyphicon-briefcase"></span>
        Moja Firma
    </div>
    <div id="worker" class="menuElement">
        <span class="glyphicon glyphicon-user"></span>
        Mój Profil
    </div>
    <div id="cv" class="menuElement">
        <span class="glyphicon glyphicon-list-alt"></span>
        Moje CV
    </div>
    <div id="signup" class="menuElement">
        <span class="glyphicon glyphicon-hand-right"></span>
        Rejestracja
    </div>
    <script>
    <%
        if (session.activeUser == null)
        {
    %>
            // ...
    <%
        }
        else
        {
    %>
            document.getElementById("signup").style.display = "none";
    <%
        }
    %>
    </script>
</div>
