<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Profil <span class="appTitle">Firmy</span>!
                </h1>

                <h3>Dzień dobry, szefie!</h3>
                <p>
                    Firma, którą aktualnie zarządzasz to <strong>nazwa_firmy</strong>.
                    (dalszy opis...)
                </p>
                <p>
                    (dane firmy)
                </p>
                <p>
                    (informacje pracownikach)
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
