<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Witaj na <span class="appTitle">MFiP</span>!
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h3>Witaj!</h3>
                <p>
                    MFIP (Menedżer firm i pracowników) jest aplikacją webową
                    do zarządzania danymi osób szukających zatrudnienia,
                    pracowników w firmie oraz samych firm jako takich.
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
