<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Witaj w <span class="appTitle">MFiP</span>!
                </h1>

                <h3>Słowem wstępu...</h3>
                <p>
                    <strong>MFiP</strong> (<i>Menedżer firm i pracowników</i>)
                    jest aplikacją webową do zarządzania danymi osób szukających
                    zatrudnienia, pracowników w firmie oraz samych firm jako takich.
                </p>
                <p>
                    Wybierz typ swojego konta w panelu znajdującym się w nagłówku
                    strony, podaj adres e-mail i hasło po czym kliknij "Zaloguj"
                    aby się zalogować i uzyskać dostęp do pełnej funkcjonalności
                    serwisu. Jeżeli nie masz jeszcze konta, a chciałbyś mieć,
                    kliknij przycisk "Dołącz" znajdujący się w panelu logowania
                    lub wybierz opcję "Rejestracja" w panelu bocznym znajdującym
                    się po lewej stronie.
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
