<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">
      <h1 class="mainHeader">
          Profil <span class="appTitle"><%= user.local.email.split('@')[0] %></span>
      </h1>

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-10">
                <div id="profileContainer" class="containter-fluid">
                  <div class="text-center">
                    <div id="profileRow">
                        <div id="profileImage">
                            <img src="/images/user.jpg"
                                 class="img-circle"
                                 width="100px">
                        </div>
                        <div id="profileInfo">
                            <div id="profileId">
                                <span>
                                    <strong>user id</strong>:
                                    <%= user._id ? user._id : '' %>
                                </span>
                            </div>
                            <div id="profileEmail">
                                <% if (user.local.email != null) { %>
                                    <strong>email</strong>:
                                    <%= user.local.email %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
