<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Dołącz do nas już <span class="appTitle">teraz</span>!
                </h1>

                <div id="signupFrame" class="containter-fluid">
                  <div class="text-center">
                    <h1>
                        <span class="glyphicon glyphicon-hand-right"></span>
                        Rejestracja
                    </h1>

                    <% if (message != null && message != "") { %>
                      <div class="alert-danger"
                           style="margin-top:5px; margin-bottom:10px;">
                        <%= message %>
                      </div>
                    <% } %>

                    <form id="signupform" method="post" action="signup" method="post">
                        <div class="myCol" style="width:250px;margin:0 auto;">
                          <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-addon transparent">
                                      <span class="glyphicon glyphicon-asterisk"></span>
                                  </span>
                                  <select id="signupType"
                                          class="form-control left-border-none"
                                          name="type"
                                          required />
                                      <option disabled>Wybierz typ konta:</option>
                                      <!-- <option value="admin">Administrator</option> -->
                                      <option value="firm">Konto firmowe</option>
                                      <option value="worker" selected>Konto pracownicze</option>
                                  </select>
                              </div>
                          </div>
                        </div>

                        <p id="firmData" class="hideMe">
                            Dane firmy:
                        </p>

                        <div id="firmInput" class="form-group hideMe">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            <input  id="login"
                                    type="text"
                                    name="firmName"
                                    placeholder="Nazwa firmy"/>
                        </div>

                        <p id="userData">
                            Dane pracownika:
                        </p>

                        <div id="first_name_div" class="form-group">
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <input  id="first_name"
                                    type="text"
                                    name="first_name"
                                    placeholder="Imię"/>
                        </div>
                        <div id="last_name_div" class="form-group">
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <input  id="last_name"
                                    type="text"
                                    name="last_name"
                                    placeholder="Nazwisko"/>
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-user"></span>
                            <input  id="login"
                                    type="email"
                                    name="email"
                                    placeholder="E-mail"/>
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input  id="password"
                                    type="password"
                                    name="password"
                                    placeholder="Hasło"/>
                        </div>
                      <div>
                        <button id="signupButton"
                                class="btn btn-primary"
                                type="submit">
                            Zatwierdź
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
