<% include partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Profil <span class="appTitle">Pracownika</span>!
                </h1>

                <h3>Uszanowanie, pracowniku!</h3>
                <p>
                    Pracowniku, aktualnie jesteś zalogowany jako
                    <strong>imię_nazwisko_i_inne_takie</strong>.
                    (dalszy opis...)
                </p>
                <p>
                    (dane pracownika)
                </p>
                <p>
                    (informacje o zatrudnieniu)
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
