<% include ../partials/header %>

    <!-- main section -->
    <main id="mainContent">

      <div class="containter-fluid">
          <div class="row">

            <% include ../partials/menu %>

            <div class="col-sm-9">
                <h1 class="mainHeader">
                    Lista <span class="appTitle">Umiejętności</span>!
                </h1>
                <p style="text-align:center;">
                    <!-- LISTA UMIEJĘTNOŚCI -->
                    <table class="listTable">
                    <%
                        if (skills.length > 0) {
                    %>
                        <tr>
                            <th>L.P.</th>
                            <th>Typ</th>
                            <th>Nazwa</th>
                            <th>Opis</th>
                        </tr>
                    <%
                            for (s in skills)
                            {
                    %>
                                <tr>
                                    <td><%= parseInt(s)+1 %></td>
                                    <td><%= skills[s].type %></td>
                                    <td><%= skills[s].name %></td>
                                    <td><%= skills[s].description %></td>
                                </tr>
                    <%
                            }
                        } else {
                    %>
                            Brak Umiejętności.
                    <%
                        }
                    %>
                    </table>
                </p>
            </div>
          </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
