// out: ../../public/css/style.css, compress: true

@mainColor: darkgreen;

html
{
  body
  {
    width: 125vh;
    .centerBox;

    header
    {
      .headerFooterStyle;

      #loginPanel
      {
        .form-group
        {
          display: inline-block;
          margin: 0 auto;

          input#login, input#password
          {
            width: 175px;
          }
        }

        #loginButton, #signupButton
        {
          width: 100px;
          transition: 0.5s;
        }

        #loginButton
        {
          .buttonStyle(darkgreen, white);
          &:hover
          {
            .buttonStyle(white, darkgreen);
          }
        }

        #signupButton
        {
          .buttonStyle(darkblue, white);
          &:hover
          {
            .buttonStyle(white, darkblue);
          }
        }
      }
    }

    main
    {
      background-color: lighten(@mainColor, 50%);
      color: darken(@mainColor, 10%);
      padding: 25px;

      .col-sm-3
      {
        background-color: lighten(@mainColor, 10%);
        color: lighten(@mainColor, 75%);
        padding: 10px;
        .shadow;
      }

      .col-sm-9
      {
        background-color: lighten(@mainColor, 5%);
        color: lighten(@mainColor, 60%);
        .shadow;

        p
        {
          text-align: justify;
          margin: 10px 50px;
        }
      }
    }
  }

  footer
  {
    .headerFooterStyle;
  }
}

.headerFooterStyle
{
  background-color: darken(@mainColor, 15%);
  color: white;
  padding: 15px;
  text-align: center;
}

.menuElement
{
  border-radius: 10px;
}

.menuElement:hover
{
  background-color: lighten(@mainColor, 25%);
  color: @mainColor;
  cursor: pointer;
}

.activeMenuOption
{
  background-color: @mainColor;
  color: lighten(@mainColor, 25%);
}

.centerBox
{
  margin-left: auto;
  margin-right: auto;
}

#signupFrame
{
  padding: 25px;
  color: darken(@mainColor, 15%);
}

.shadow
{
  box-shadow: -1px 3px 3px 3px darken(@mainColor, 10%);
}

.mainHeader
{
  text-align: center;

  .appTitle
  {
    font-weight: bold;
  }
}

.buttonStyle(@main, @other)
{
  background-color: @main;
  color: @other;
  border: 1px solid @other;
}
