// out: ../../public/css/style.css, compress: true

@mainColor: lighten(black, 25%);
@secondColor: darken(silver, 35%);

html {
  .helper > .size(auto, 100%);

  body {
    .helper > .size(100%, 100%);
    .helper > .centerBox;
    .helper > .shadow;

    header {
      .headerFooterStyle;
      .helper > .size(auto, 12.5vh);
      line-height: 3vh;
      border-bottom: 3px solid lighten(@secondColor, 35%);

      #loginPanel {
        form {
          display: inline-block;
          margin: 0 auto;

          .myCol {
            display: inline-block;
          }

          .buttonGroup {
            display: inline-block;
            float: right;
            margin-left: 20px;
          }

          select#loginType, input#login, input#password {
            .helper > .colorize(lighten(@secondColor, 55%), darken(@secondColor, 10%));
            .helper > .size(175px, auto);

            &:focus {
              .helper > .colorize(lighten(@secondColor, 40%), darken(@secondColor, 15%))
            }
          }
        }

        #loginButton, #signupButton, #logoutButton {
          .helper > .size(100px, auto);
          transition: 0.5s;
        }

        #loginButton {
          .helper > .buttonStyle(darkgreen, whitesmoke);

          &:hover {
            .helper > .buttonStyle(whitesmoke, darkgreen);
          }
        }

        #signupButton {
          .helper > .buttonStyle(darkblue, whitesmoke);

          &:hover {
            .helper > .buttonStyle(whitesmoke, darkblue);
          }
        }

        #logoutButton {
          .helper > .buttonStyle(darkred, whitesmoke);

          &:hover {
            .helper > .buttonStyle(whitesmoke, darkred);
          }
        }
      }
    }

    main {
      background-image: url("../images/silver_pattern.jpg");
      .helper > .colorize(lighten(@mainColor, 50%), darken(@mainColor, 10%));
      padding: 25px;
      min-height: 77.5vh;

      .col-sm-3 {
        .helper > .colorize(lighten(@mainColor, 10%), lighten(@mainColor, 75%));
        padding: 10px;
        .helper > .shadow;
      }

      .col-sm-9 {
        background-image: url("../images/crossed_stripes.png");
        .helper > .colorize(lighten(@mainColor, 5%), lighten(@mainColor, 60%));
        .helper > .shadow;

        .mainHeader {
          .helper > .centerTextOptionalBold(normal);

          .appTitle {
            font-weight: bold;
          }
        }

        p {
          text-align: justify;
          margin: 10px 50px;
        }

        #signupFrame {
          .helper > .colorize(lighten(@mainColor, 15%), darken(@mainColor, 15%));
          padding: 25px;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border-top: 3px solid @mainColor;

          #firmData, #userData {
            .helper > .centerTextOptionalBold(bold);
          }
        }

        .firm {
          background-color: @mainColor;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 10px;
          text-indent: 25px;
          border: 1px solid darken(@mainColor, 5%);
          border-radius: 10px;
          .helper > .shadow;
          nav {
            background-color: lighten(@secondColor, 10%);
            display: block;
            &:first-child {
              font-weight: bold;
              padding: 5px;
              font-size: 24px;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }
            &:not(:first-child) {
              text-indent: 50px;
            }
            &:last-child {
              padding-bottom: 10px;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
              padding-right: 40px;
              text-align: right;
              button {
                width: 100px;
              }
            }
          }
          a {
            color: darken(@mainColor, 10%);
            &:focus { color: @secondColor; }
          }
        }

        .tableHeader {
          .helper > .centerTextOptionalBold(bold);
          display: block;
          margin-top: 20px;
          background-color: dimgray;
          padding: 3px;
        }

        .listTable {
          .helper > .colorize(whitesmoke, dimgray);
          display: table;
          border-collapse: collapse;
          .helper > .size(100%, auto);
          max-width: 100%;
          border: 2px solid darken(dimgray, 25%);
          .helper > .shadow;

          tr, th, td {
            padding: 5px;
          }

          tr:first-child {
            .helper > .colorize(silver, black) !important;
          }

          tr:nth-child(odd) {
            background-color: darken(whitesmoke, 5%);
          }

          tr:not(:first-child):hover {
            .helper > .colorize(lightgreen, black);
          }
        }

        .insertionBox {
          background-color: silver;
          border: 1px solid black;
          margin-top: 10px;
          padding: 5px;
          .helper > .shadow;

          form {
            table {
              width: 100%;
              color: black;
              tr {
                td {
                  input {
                    height: 35px;
                    width: 95%;
                  }

                  button {
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        #cvPanel {
          .helper > .colorize(whitesmoke, lighten(black, 25%));
          border: 1px solid darkgray;
          border-radius: 5px;
          margin: 15px;
          padding: 15px;

          .cvTitle {
            background-color: lighten(silver, 15%);
            padding: 5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 1px solid silver;
          }

          #cvTable {
            border-collapse: collapse;
            .helper > .size(100%, auto);
            display: none;

            tr:first-child {
              background-color: lighten(silver, 10%);
            }

            th, td {
              padding: 8px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }

            tr td:first-child {
              font-weight: bold;
              color: dimgray;
              .helper > .size(200px, auto);
            }

            tbody:hover td[rowspan], tr:hover td {
               background-color: lighten(lightgreen, 15%);
            }
          }
        }
      }

      #menu, .col-sm-9 {
        min-height: 69.75vh !important;

        .menuElement {
          border-radius: 10px;
          padding-left: 10px;
          transition: 0.2s;

          &:hover {
            .helper > .colorize(lighten(@secondColor, 25%), @mainColor);
            cursor: pointer;
            transition: 0.2s;
          }
        }

        .activeMenuOption {
          .helper > .colorize(@mainColor, lighten(@secondColor, 25%));
          .helper > .shadow;
          border-bottom: 1px solid darken(@secondColor, 25%);
        }

        #clock {
          .helper > .centerTextOptionalBold(bold);
          position: absolute;
          bottom: 10px;
          padding: 5px;
          border-top-left-radius: 10px;
          border-bottom-right-radius: 10px;

          @lghtCol: lighten(@secondColor, 40%);
          .clockAnimation(@mainColor, @lghtCol, @secondColor, 30px, 20px, 14px);

          &:hover {
            .clockAnimation(@lghtCol, @mainColor, @mainColor, 40px, 30px, 24px);
          }
        }
      }
    }
  }

  footer {
    .headerFooterStyle;
    .helper > .size(auto, 10vh);
    line-height: 3vh;
    border-top: 3px solid lighten(@secondColor, 35%);
  }
}

.headerFooterStyle {
  background-image: url("../images/black_pattern.jpg");
  .helper > .colorize(darken(@mainColor, 15%), whitesmoke);
  padding: 15px;
  .helper > .centerTextOptionalBold(normal);
}

.info {
  font-size: 12px;
  color: darkred;
  margin-top: 5px;
  margin-bottom: 5px;

  &:before {
    content: "INFO:";
    font-weight: bold;
  }
}

.count {
  color: darken(@mainColor, 10%);
  background-color: lighten(@secondColor, 35%);
  font-size: 12px;
  font-weight: bold;
  width: 25px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  border: 2px inset lighten(@mainColor, 15%);
  float: right;
}

.helper {
  .size(@width, @height) {
    width: @width;
    height: @height;
  }

  .centerBox {
    margin-left: auto;
    margin-right: auto;
  }

  .centerTextOptionalBold(@boldOrNot) {
    text-align: center;
    font-weight: @boldOrNot;
  }

  .shadow {
    box-shadow: -1px 3px 3px 3px darken(@mainColor, 10%);
  }

  .buttonStyle(@main, @other) {
    .helper > .colorize(@main, @other);
    border: 1px solid @other;
  }

  .colorize(@back, @front) {
    background-color: @back;
    color: @front;
  }
}

.hideMe {
  display: none !important;
}

.clockAnimation(@color1, @color2, @color3, @height, @lineHeight, @fontSize) {
  .helper > .colorize(@color1, @color2);
  border: 1px solid @color3;
  .helper > .size(90%, @height);
  line-height: @lineHeight;
  font-size: @fontSize;
  transition: 0.5s;
}
