// out: ../../public/css/style.css, compress: true

@mainColor: lighten(black, 25%);
@secondColor: darken(silver, 35%);

html
{
  height: 100%;

  body
  {
    width: 100%;
    height: 100%;
    .centerBox;
    .shadow;

    header
    {
      .headerFooterStyle;
      height: 12.5vh;
      line-height: 3vh;
      border-bottom: 3px solid lighten(@secondColor, 35%);

      #loginPanel
      {
        form
        {
          display: inline-block;
          margin: 0 auto;

          .myCol
          {
            display: inline-block;
          }

          .buttonGroup
          {
            display: inline-block;
            float: right;
            margin-left: 20px;
          }

          select#loginType, input#login, input#password
          {
            .colorize(lighten(@secondColor, 55%), darken(@secondColor, 10%));
            width: 175px;
            &:focus
            {
              .colorize(lighten(@secondColor, 40%), darken(@secondColor, 15%))
            }
          }
        }

        #loginButton, #signupButton
        {
          width: 100px;
          transition: 0.5s;
        }

        #loginButton
        {
          .buttonStyle(darkgreen, white);
          &:hover
          {
            .buttonStyle(white, darkgreen);
          }
        }

        #signupButton
        {
          .buttonStyle(darkblue, white);
          &:hover
          {
            .buttonStyle(white, darkblue);
          }
        }
      }
    }

    main
    {
      background-image: url("../images/silver_pattern.jpg");
      .colorize(lighten(@mainColor, 50%), darken(@mainColor, 10%));
      padding: 25px;
      min-height: 77.5vh;

      .col-sm-3
      {
        .colorize(lighten(@mainColor, 10%), lighten(@mainColor, 75%));
        padding: 10px;
        .shadow;
      }

      .col-sm-9
      {
        background-image: url("../images/crossed_stripes.png");
        .colorize(lighten(@mainColor, 5%), lighten(@mainColor, 60%));
        .shadow;

        p
        {
          text-align: justify;
          margin: 10px 50px;
        }

        #cvPanel
        {
          .colorize(whitesmoke, lighten(black, 25%));
          border: 1px solid darkgray;
          border-radius: 5px;
          margin: 15px;
          padding: 15px;

          .cvTitle
          {
            background-color: lighten(silver, 15%);
            padding: 5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 1px solid silver;
          }

          #cvTable
          {
            border-collapse: collapse;
            width: 100%;
            display: none;

            th, td
            {
              padding: 8px;
              text-align: left;
              border-bottom: 1px solid #ddd;

            }

            tr td:first-child
            {
              font-weight: bold;
              color: dimgray;
              width: 200px;
            }

            tr
            {
              &:hover:not(:first-child)
              {
                background-color: lighten(black, 75%);
              }
            }
          }
        }
      }
    }
  }

  footer
  {
    .headerFooterStyle;
    height: 10vh;
    line-height: 3vh;
    border-top: 3px solid lighten(@secondColor, 35%);
  }
}

.headerFooterStyle
{
  background-image: url("../images/black_pattern.jpg");
  .colorize(darken(@mainColor, 15%), whitesmoke);
  padding: 15px;
  text-align: center;
}

.menuElement
{
  border-radius: 10px;
  padding-left: 10px;
}

.menuElement:hover
{
  .colorize(lighten(@secondColor, 25%), @mainColor);
  cursor: pointer;
}

.activeMenuOption
{
  .colorize(@mainColor, lighten(@secondColor, 25%));
  .shadow;
  border-bottom: 1px solid darken(@secondColor, 25%);
}

.centerBox
{
  margin-left: auto;
  margin-right: auto;
}

#signupFrame
{
  .colorize(lighten(@mainColor, 15%), darken(@mainColor, 15%));
  padding: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top: 3px solid @mainColor;

  #firmData, #userData
  {
    font-weight: bold;
    text-align: center;
  }
}

.shadow
{
  box-shadow: -1px 3px 3px 3px darken(@mainColor, 10%);
}

.mainHeader
{
  text-align: center;

  .appTitle
  {
    font-weight: bold;
  }
}

.buttonStyle(@main, @other)
{
  .colorize(@main, @other);
  border: 1px solid @other;
}

.hideMe
{
  display: none !important;
}

.colorize(@back, @front)
{
  background-color: @back;
  color: @front;
}

#menu, .col-sm-9
{
  min-height: 69.75vh !important;
}

.listTable
{
  .colorize(whitesmoke, dimgray);
  display: table;
  width: 100%;
  max-width: 100%;
  border: 2.5px solid black;

  tr, th, td
  {
    padding: 5px;
  }

  tr:first-child
  {
    .colorize(silver, black);
  }

  tr:not(:first-child):hover
  {
    .colorize(lighten(silver, 10%), black);
  }
}
